body {
  font-family: "Noto Sans JP", serif;
  color: #333;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 41px;
}

.headers {
  padding-top: 60px;
  padding-bottom: 60px;
}

.headers__inner {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: 30px;
}
.header--center {
  text-align: center;
}

.header__01 {
  border-bottom: 3px solid #f8b819;
}

.header__02 {
  border-bottom: 3px dashed #f8b819;
}

.header__03 {
  padding: 2px 12px;
  background: #fabe00;
}

.header__04 {
  padding: 2px 12px;
  color: #fff;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#f5810e), to(#fabe00));
  background: linear-gradient(90deg, #f5810e 0%, #fabe00 100%);
}

.header__05 {
  position: relative;
  padding-left: 17px;
}
.header__05::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: #f8b819;
}

.header__06 {
  -webkit-text-decoration: underline solid #ffdd73 10px;
          text-decoration: underline solid #ffdd73 10px;
  text-underline-offset: 0;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
}

.header__07 {
  font-size: 24px;
  line-height: 200%;
}
.header__07-line {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  padding: 0 8px;
  background: #fabe00;
}

.header__08 {
  padding: 2px 12px;
  background: #fabe00;
  position: relative;
}
.header__08::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background: #f8b819;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  left: 20px;
  bottom: -8px;
}

.header__09 {
  position: relative;
}
.header__09::before {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fabe00;
}
.header__09::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 90px;
  height: 3px;
  background: #f6820e;
}

.header__10 {
  position: relative;
  padding-left: 14px;
}
.header__10::before {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 4px;
  height: 16px;
  background: #f8b819;
}

.header__11 {
  position: relative;
}
.header__11::before {
  position: absolute;
  content: "";
  bottom: -14px;
  left: 50%;
  width: 52px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  background: #f8b819;
}

.header__12 {
  position: relative;
  padding-left: 26px;
}
.header__12::before {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 18.01px;
  height: 14.16px;
  background: transparent url(../img/check.svg) no-repeat top center/contain;
}

.header__13 {
  position: relative;
  padding-left: 12px;
  padding-right: 29px;
  display: inline-block;
}
.header__13::before {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 19px;
  height: 19px;
  background: transparent url(../img/glass.svg) no-repeat top center/contain;
}

.header__14 {
  position: relative;
  display: inline-block;
}
.header__14::before, .header__14::after {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 38px;
  height: 3px;
  background: #f8b819;
  border-radius: 1.5px;
}
.header__14::before {
  left: -36px;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
}
.header__14::after {
  right: -36px;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
}

.header__15 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__15::before, .header__15::after {
  content: "";
  height: 3px;
  background: #f8b819;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
}
.header__15::before {
  margin-right: 20px;
}
.header__15::after {
  margin-left: 20px;
}